/* MON CSS GLOBAL */

@font-face {
  font-family: "Terminal";
  src: url(./asset/fonts/Terminal.ttf);
}

@font-face {
  font-family: "Lexend";
  src: url(./asset/fonts/Lexend-Regular.ttf);
}

@font-face {
  font-family: "Caveat";
  src: url(../src/asset/fonts/Caveat-Regular.ttf);
}

@font-face {
  font-family: "FredokaOne";
  src: url(./asset/fonts/FredokaOne.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  margin: 10px;
}
